.container {
    position: relative;
    margin-bottom: 60px;
}
.table {
    width: calc(100% - 32px);
    margin: 16px;
    position: relative;
    background-color: #ffffff; /* Cor branca */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.container th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}
.container tr:hover {
    background-color: #eaeaead3;
}
.container h2 {
    position: absolute;
    top: -16px;
    left: 32px;
    z-index: 1;
    background-color: #fff;
}