.container {
    position: relative;
    margin-bottom: 60px;
}
.table {
    border: 1px solid;
    width: calc(100% - 32px);
    margin: 16px;
    position: relative;
}
.container th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}
.container tr:hover {
    background-color: rgb(167, 157, 225);
}
.container h2 {
    position: absolute;
    top: -16px;
    left: 32px;
    z-index: 1;
    background-color: #fff;
}